body {
  margin: 0;
  padding: 0;
  width: 280px;
  text-align: center;
}
h1 {
  font-size: large;
}
ul {
  padding: 0;
  list-style: none;
}
li {
  height: 30px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.q-cat:not(.hidden) {
  user-select: none;  
}
